.SpinnerControl_Loader00 {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.8rem;
}

.SpinnerControl_Loader01 {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  padding: 0.8rem;
}
.SpinnerControl_Loader01 .block {
  position: relative;
  top: 1rem;
  left: 1rem;
  height: 1rem;
  width: 1rem;
}
.SpinnerControl_Loader01 .block > .item {
  position: relative;
  height: 1rem;
  width: 1rem;
  background: #404040;
  animation: SpinnerControl_Loader01-move 0.8s linear infinite;
}
.SpinnerControl_Loader01 .block > .item:nth-of-type(1) {
  top: -1rem;
  left: -1rem;
  animation-delay: 0s;
}
.SpinnerControl_Loader01 .block > .item:nth-of-type(2) {
  top: -2rem;
  left: 0rem;
  animation-delay: -0.1s;
}
.SpinnerControl_Loader01 .block > .item:nth-of-type(3) {
  top: -3rem;
  left: 1rem;
  animation-delay: -0.2s;
}
.SpinnerControl_Loader01 .block > .item:nth-of-type(4) {
  top: -3rem;
  left: 1rem;
  animation-delay: -0.3s;
}
.SpinnerControl_Loader01 .block > .item:nth-of-type(5) {
  top: -3rem;
  left: 1rem;
  animation-delay: -0.4s;
}
.SpinnerControl_Loader01 .block > .item:nth-of-type(6) {
  top: -4rem;
  left: 0;
  animation-delay: -0.5s;
}
.SpinnerControl_Loader01 .block > .item:nth-of-type(7) {
  top: -5rem;
  left: -1rem;
  animation-delay: -0.6s;
}
.SpinnerControl_Loader01 .block > .item:nth-of-type(8) {
  top: -7rem;
  left: -1rem;
  animation-delay: -0.7s;
}
@keyframes SpinnerControl_Loader01-move {
  0% {opacity: 0;}
  10% {opacity: 1;}
  70% {opacity: 0;}
  100% {opacity: 0;}
}

.SpinnerControl_Loader02 {
  display: inline-block;
  width:5rem;
  height:5rem;
  padding: 0.8rem;
}

.SpinnerControl_Loader03 {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.8rem;
}
.SpinnerControl_Loader03 .spinner {
  transform-origin: center;
  animation: SpinnerControl_Loader03-animation 1.4s linear infinite;
}
@keyframes SpinnerControl_Loader03-animation {
  0% { stroke-dasharray: 1 98; stroke-dashoffset: -105; }
  50% { stroke-dasharray: 80 10; stroke-dashoffset: -160; }
  100% { stroke-dasharray: 1 98; stroke-dashoffset: -300; }
}

.SpinnerControl_Loader04 {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.8rem;
  transform-style: preserve-3d;
  perspective: 16rem;
}
.SpinnerControl_Loader04 .arc {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  border-bottom: 3px solid hsl(196, 78%, 61%);
}
.SpinnerControl_Loader04 .arc:nth-child(1) {
  animation: SpinnerControl_Loader04-rotate1 1.15s linear infinite;
  animation-delay: -0.8s;
}
.SpinnerControl_Loader04 .arc:nth-child(2) {
  animation: SpinnerControl_Loader04-rotate2 1.15s linear infinite;
  animation-delay: -0.4s;
}
.SpinnerControl_Loader04 .arc:nth-child(3) {
  animation: SpinnerControl_Loader04-rotate3 1.15s linear infinite;
  animation-delay: 0s;
}
@keyframes SpinnerControl_Loader04-rotate1 {
  0% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(0); }
  100% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn); }
}
@keyframes SpinnerControl_Loader04-rotate2 {
  0% { transform: rotateX(50deg) rotateY(10deg) rotateZ(0); }
  100% { transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn); }
}
@keyframes SpinnerControl_Loader04-rotate3 {
  0% { transform: rotateX(35deg) rotateY(55deg) rotateZ(0); }
  100% { transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn); }
}

.SpinnerControl_Loader05 {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.8rem;
}

.SpinnerControl_Loader06 {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.8rem;
}
.SpinnerControl_Loader06 .chase {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.4rem;
  animation: SpinnerControl_Loader06-chase 2.5s infinite linear both;
}
.SpinnerControl_Loader06 .chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: SpinnerControl_Loader06-chase-dot 2.0s infinite ease-in-out both; 
}
.SpinnerControl_Loader06 .chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: black;
  border-radius: 100%;
  animation: SpinnerControl_Loader06-chase-dot-before 2.0s infinite ease-in-out both; 
}
.SpinnerControl_Loader06 .chase-dot:nth-child(1) { animation-delay: -1.1s; }
.SpinnerControl_Loader06 .chase-dot:nth-child(2) { animation-delay: -1.0s; }
.SpinnerControl_Loader06 .chase-dot:nth-child(3) { animation-delay: -0.9s; }
.SpinnerControl_Loader06 .chase-dot:nth-child(4) { animation-delay: -0.8s; }
.SpinnerControl_Loader06 .chase-dot:nth-child(5) { animation-delay: -0.7s; }
.SpinnerControl_Loader06 .chase-dot:nth-child(6) { animation-delay: -0.6s; }
.SpinnerControl_Loader06 .chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.SpinnerControl_Loader06 .chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.SpinnerControl_Loader06 .chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.SpinnerControl_Loader06 .chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.SpinnerControl_Loader06 .chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.SpinnerControl_Loader06 .chase-dot:nth-child(6):before { animation-delay: -0.6s; }
@keyframes SpinnerControl_Loader06-chase {
  100% { transform: rotate(360deg); } 
}
@keyframes SpinnerControl_Loader06-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}
@keyframes SpinnerControl_Loader06-chase-dot-before {
  50% { transform: scale(0.4); }
  100%, 0% { transform: scale(1.0); }
}

.SpinnerControl_Loader07 {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.8rem;
}

.SpinnerControl_Loader08 {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.8rem;
}

.SpinnerControl_Loader09-folding-cube {
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
  padding: 0.8rem;
  transform: rotateZ(45deg);
}
.SpinnerControl_Loader09-folding-cube .cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1); 
}
.SpinnerControl_Loader09-folding-cube .cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  animation: SpinnerControl_Loader09-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}
.SpinnerControl_Loader09-folding-cube .cube2 {
    transform: scale(1.1) rotateZ(90deg);
}
.SpinnerControl_Loader09-folding-cube .cube3 {
    transform: scale(1.1) rotateZ(180deg);
}
.SpinnerControl_Loader09-folding-cube .cube4 {
    transform: scale(1.1) rotateZ(270deg);
}
.SpinnerControl_Loader09-folding-cube .cube2:before {
    animation-delay: 0.3s;
}
.SpinnerControl_Loader09-folding-cube .cube3:before {
    animation-delay: 0.6s; 
}
.SpinnerControl_Loader09-folding-cube .cube4:before {
    animation-delay: 0.9s;
}
@keyframes SpinnerControl_Loader09-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
