<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EmailServer" value=""/>
    <add key="DeveloperEmailTo" value=""/>
    <add key="DeveloperEmailCC" value=""/>
    <add key="RecaptchaPublicKey" value=""/>
    <add key="RecaptchaPrivateKey" value=""/>
    <add key="PathToGO" value="c:\\Revigo\\Databases\\Current\\GeneOntology.xml.gz"/>
    <add key="PathToSpeciesAnnotations" value="c:\\Revigo\\Databases\\Current\\SpeciesAnnotations.xml.gz"/>
    <add key="JobTimeout" value="20"/>
  </appSettings>
  <connectionStrings>
    <add name="MariaDBServer" connectionString=""/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5.2"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="On" defaultRedirect="/Errors/GenericErrorPage.html"/>
    <sessionState mode="Off" timeout="60"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <globalization fileEncoding="utf-8"/>
    <httpRuntime maxQueryStringLength="32768" maxRequestLength="10240" executionTimeout="1200"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" maxAllowedContentLength="10485760"/>
      </requestFiltering>
    </security>
    <urlCompression doStaticCompression="true"/>
  </system.webServer>
</configuration>