.resultTable
{
	border-spacing: 0;
	border: #ccc 1px solid;
	border-width: 1px 0 0 1px;
	background-color: white;
	text-align: left;
	font-size:1rem;
}
.resultTable th,
.resultTable td
{
	border: #ccc 1px solid;
	border-width: 0 1px 1px 0;
}
.resultTable th {
	padding: 0.3rem;
	font-size: 0.7rem;
	font-weight: bold;
	border-collapse: collapse;
	background: #e6e6e6 url("/Images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
	color: #555555;
	cursor: default;
	text-align: center;
	white-space: nowrap;
}
.resultTable th.condensed
{
	width:1%;
}
.resultTable th.pointer {
	cursor: pointer;
}
.resultTable thead td {
	padding: 0.2rem;
	font-size: 0.7rem;
	border-collapse: collapse;
	background-color: #E6E6FA;
	cursor: default;
	text-align: center;
}
.resultTable tbody td
{
	padding: 0.2rem;
	font-size: 0.7rem;
}
.resultTable tbody tr.odd
{
	background-color: white;
}
.resultTable tbody tr.even
{
	background-color: Gainsboro;
}
.resultTable th.alignLeft,
.resultTable td.alignLeft,
.resultTable input.alignLeft
{
	text-align: left;
}
.resultTable th.alignCenter,
.resultTable td.alignCenter,
.resultTable input.alignCenter
{
	text-align: center;
}
.resultTable th.alignRight,
.resultTable td.alignRight,
.resultTable input.alignRight
{
	text-align: right;
}
/* Children */
.resultTable td.child
{
	font-style: italic;
	font-size: 0.6rem;
}
	.resultTable td.padding
	{
		padding-left: 0.8rem;
	}
/* hovered row colors */
.resultTable tbody > tr.hover > td,
.resultTable tbody > tr:hover > td,
.resultTable tbody > tr.odd.hover > td,
.resultTable tbody > tr.odd:hover > td
{
	background-color: #eeeeee;
}
.resultTable tbody > tr.even.hover > td,
.resultTable tbody > tr.even:hover > td
{
	background-color: #bfbfbf;
}
/* Filtering styles */
.resultTable input.filter {
	display: table-cell;
	width: 99%;
	height: auto;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #bbb;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}